*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	font-family: cursive;

}

.navbar{
	width: 100%;
	position: fixed;
	background-color: #0000ff;
	padding: 15px 0px;

}
.navbar .max-width{

	width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-content: auto;
}
.logo a{
	color: #ff8040;
	font-size: 40px;
	font-weight: 500;
}
.logo span{
	color: #000;
}
.menu li{
	display: inline-block;
}
.menu{
	padding-top: 10px;
}
.menu li a{
	color: white;
	font-size: 20px;
	font-weight: 200;
	margin-left: 25px;
	transition: color 1s;
}

.menu li a:hover{
	color: black;
	}

/****************************************************************/
.home{
	height: 800px;
	background: url('home2.jpg');
	display: flex;
}
.home .max-width{
	color: white;
	margin: auto 120px;
}

.home .home-content .text-1{
	font-size: 40px;
	font-weight: 600;
}

.home .home-content .text-2{
	color: #ff8040;
	font-size: 60px;
	font-weight: 500;

	}

.home .home-content .text-3{
	font-size: 50px;
	font-weight: 700;

}
.home .home-content .text-3 span{
	color: #ff8040;
}
.home .home-content .button-one{
	display: inline-block;
	background-color: #ff8040;
	font-size: 40px;
	font-weight: 200;
	color: white;
	border: 2px solid #ff8040;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 20px;
}
.home .home-content .button-one:hover{
	background: none;
}

/********************************************************************************/
.about{
	padding: 50px 150px;
}
.about .title{
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	text-decoration: underline #ff8040;
	padding-bottom: 80px;
}
.about .about-content{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.about .div-leftdiv{
	width: 45%;
}
.about .div-right{
	width: 55%;
}
.about .div-left img{
	height: 400px;
	width: 400px;
	border-radius: 6px;
	object-fit: cover;
}

.about .div-right .text{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 10px;
	}
.about .div-right .text span{
		color: #ff8040;
	}
.about .div-right p{
	text-align: justify;
	font-size: 20px;
}

.about .div-right .button-two{
	display: inline-block;
	background-color: #ff8040;
	font-size: 40px;
	font-weight: 200;
	color: white;
	border: 2px solid #ff8040;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 20px;
}
.about .div-right .button-two:hover{
	background: none;
	color: #ff8040;
}
*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	font-family: cursive;

}
/********************************************************************************/
*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	font-family: cursive;
}

.d1{
	background-color: gray;
	height: 10px;
}
.lio1{
	color: yellow;
	background-color: #00FFFF;
	border-bottom: black;
    width: 100%;
}
.bandePort{
	font-size: 30px;
	height: 80px;

    
}
.bandePort span{
	color: #000;
}
.lio .lio1{

	width: 1350px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-content: auto;
	width: 100%;
}

.menu1 li{
	display: inline-block;
}
.menu1{
	padding-top: 10px;
}
.menu1 li a{
	color: white;
	font-size: 15px;
	font-weight: 200;
	margin-left: 25px;
	margin-right: 45px;
	transition: color 1s;
}

.menu1 li a:hover{
	color: black;
	}

.d3{
	background-color: none;
	width: 1000px;
	height: 300px;
	margin-left: 400px;
	margin-top: 100px;
}
.tbl{
	background-position: center;
}
.td1{
	background-color: #FF0080;
	width: 210px;
	height: 200px;
	border-radius: 4px
}
.td1 img{
	height: 80px;
	width: 80px;
	border-radius: 100px;
	border-style: solid;
	border-color:  #0000ff;
	margin-left: 55px; 
	margin-top: 20px;
}
.p1{
 text-align: center;
	margin-bottom: 65px;
	
   margin-bottom: 12px;	
}
.td2{
	background-color: #FF0080;
	width: 210px;
	height: 200px;
	border-radius: 4px;
}
.td2 img{
	height: 80px;
	width: 80px;
	border-radius: 100px;
	border-style: solid;
	border-color:  #0000ff;
	margin-left: 55px; 
	margin-top: 20px;
}
.p2{
 text-align: center;
	margin-bottom: 65px;
	
   margin-bottom: 12px;	
}

.td3{
	background-color: #FF0080;
	width: 210px;
	height: 200px;
	border-radius: 4px;
}
.td3 img{
	height: 80px;
	width: 80px;
	border-radius: 100px;
	border-style: solid;
	border-color:  #0000ff;
	margin-left: 55px; 
	margin-top: 20px;
}
.p3{
	text-align: center;
	margin-bottom: 65px;
	
   margin-bottom: 12px;
}
.textMy1{
	text-align: center;
	margin-top: 50px;
	font-size: 30px;
}

.textMy2{
	text-align: center;
}
/***************************************************************************/

.mes  {
	height: 200px;
	width: 700px;
	background-color: none;
}
.mail{
	margin-bottom: 145px;
	margin-right: 80px;
	width: 110px;
}
.pren{
 width: 110px;
}
.nom{
 width: 110px;
}
.bouton1{
	display: inline-block;
	background-color: #ff8040;
	font-size: 15px;
	font-weight: 100px;
	color: white;
	border: 2px solid #ff8040;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 100px;
	margin-left: 100px;
}
.bouton1:hover{
	background: none;
	color: #ff8040; 
}
.descp{
	height: 130px;
	margin-top: 2px;
	width: 150px;
}
.get{
	margin-right: 200px;
	text-align: left;

}
.tbl1{
	
	width: 800px;
	margin-left: 60px;
}
.mess{
	margin-left: 200px;
	text-align: left;
}
.icon{
	margin-top: 30px;
}
.ex{
	margin-top: 30px;
}
.icon3 img{
	position: absolute;
	margin-top: 10px;
	margin-left: -45px;
}
.icon2 img{
	position: absolute;
	margin-top: 10px;
	margin-left:-45px;
	
}
.icon3{
 padding-left:  35px;
}
.icon2{
 padding-left:  35px;
}
.icon1 img{
    position: absolute;
	margin-top: 1px;
	margin-left:-45px;
}
.icon1{
	 padding-left:  40px;
}
.i{
	padding-bottom: px;
}

.foo{
	height: 60px;
	width: 100%;
	background-color: black;

}